In [42]:
import pandas as pd
from scipy import stats

In [27]:
pd.options.display.float_format = "{:_.2f}".format

In [28]:
df = (
    pd.read_excel(
        "data/total_votos.xlsx",
        header=[1, 2],
        index_col=[0, 1, 2],
        na_values=["-"],
        sheet_name="Plan1",
    )
    .dropna(how='all')
    .rename(columns={
        '1 Turno': 1,
        '2 Turno ': 2
    })
    .rename_axis(['regiao', 'grupo', 'uf'], axis=0)
    .rename_axis(['cargo', 'turno'], axis=1)
)
df

cargo                 Governador/Senador                  Presidente  \
turno                                  1             2             1
regiao       grupo uf
Sudeste      1     ES       2_311_629.00  2_318_350.00  2_315_889.00
                   MG      12_643_691.00           NaN 12_655_228.00
                   SP      27_147_847.00 27_341_816.00 27_189_714.00
                   RJ       9_893_658.00           NaN  9_909_463.00
Sul          2     PR       6_815_688.00           NaN  6_828_543.00
                   RS       6_883_341.00  6_924_603.00  6_890_016.00
                   SC       4_471_619.00  4_527_781.00  4_487_474.00
Centro-Oeste 3     DF       1_807_484.00           NaN  1_819_900.00
                   GO       3_807_191.00           NaN  3_812_597.00
                   MS       1_552_654.00  1_547_610.00  1_555_149.00
                   MT       1_889_012.00           NaN  1_892_180.00
Nordeste     4     AL       1_802_791.00  1_782_407.00  1_805_971.00
                   BA       8_866_459.00  8_964_244.00  8_874_841.00
                   SE       1_362_604.00  1_353_538.00  1_364_724.00
             5     CE       5_623_450.00           NaN  5_628_610.00
                   MA       3_918_212.00           NaN  3_920_435.00
                   PI       2_114_006.00           NaN  2_115_645.00
             6     PB       2_551_876.00  2_569_106.00  2_557_479.00
                   PE       5_732_289.00  5_795_359.00  5_738_371.00
                   RN       2_086_722.00           NaN  2_090_604.00
Norte        7     AC         455_438.00           NaN    455_903.00
                   RO         925_763.00    925_563.00    926_827.00
             8     AM       2_110_875.00  2_065_079.00  2_113_771.00
                   RR         304_319.00           NaN    305_404.00
             9     AP         442_101.00           NaN    442_842.00
                   PA       4_785_272.00           NaN  4_789_311.00
                   TO         889_580.00           NaN    891_449.00

cargo
turno                             2
regiao       grupo uf
Sudeste      1     ES  2_322_269.00
                   MG 12_866_284.00
                   SP 27_380_491.00
                   RJ  9_973_822.00
Sul          2     PR  6_900_420.00
                   RS  6_930_852.00
                   SC  4_542_817.00
Centro-Oeste 3     DF  1_838_492.00
                   GO  3_860_351.00
                   MS  1_549_873.00
                   MT  1_913_231.00
Nordeste     4     AL  1_784_988.00
                   BA  8_971_728.00
                   SE  1_355_467.00
             5     CE  5_649_398.00
                   MA  3_854_804.00
                   PI  2_088_530.00
             6     PB  2_574_215.00
                   PE  5_800_735.00
                   RN  2_108_799.00
Norte        7     AC    420_760.00
                   RO    926_517.00
             8     AM  2_067_875.00
                   RR    286_269.00
             9     AP    400_683.00
                   PA  4_701_740.00
                   TO    871_238.00

In [45]:
B = .02
z = stats.norm.ppf(1 - .05 / 2)

In [34]:
Nh = df[('Presidente', 1)]

est = (
    df.loc[:, [('Presidente', 1)]]
    .assign(
        Nh = Nh,
        Wh = Nh / Nh.sum(),
        Ph = 1/2,
        Qh = 1/2
    )
)

In [ ]:
s = est.apply(lambda e: e['Nh'] ** 2 * e['Ph'] * e['Qh'] / (e['Nh'] - 1), axis=1).sum()

In [49]:
N = Nh.sum()
D = (B / z) ** 2
n = (
    N /
    ((N ** 2 * D) / s) + 1
)
n

turno
   2_401.91
dtype: float64